JWT_SECRET = "your_jwt_secret"
JWT_REFRESH_SECRET="your_jwt_refresh_secret"
JWT_TTL="1h"
JWT_REFRESH_TTL="30d"
API_AUTH_PORT=3333
API_AUTH_BASE_URL=http://localhost:3333
API_ORGANIZATION_PORT=3334
API_ORGANIZATION_BASE_URL=http://localhost:3334

BETTER_AUTH_SECRET="your_better_auth_secret"
BETTER_AUTH_URL=http://localhost:3333

WEB_REACT_PORT=4200

DB_HOST=pgsql
DB_DATABASE=apihub
DB_USERNAME=boat
DB_PASSWORD=password