services:
    node.test:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: node-express-hub
        ports:
            - '${API_AUTH_PORT:-3333}:3333'
            - '${WEB_REACT_PORT:-4200}:4200'
        volumes:
            - '.:/app'
        networks:
            - boat
        depends_on:
            - pgsql
            - redis
            - meilisearch
            - mailpit
    pgsql:
        image: 'postgres:17'
        ports:
            - '${FORWARD_DB_PORT:-5432}:5432'
        environment:
            PGPASSWORD: '${DB_PASSWORD:-secret}'
            POSTGRES_DB: '${DB_DATABASE}'
            POSTGRES_USER: '${DB_USERNAME}'
            POSTGRES_PASSWORD: '${DB_PASSWORD:-secret}'
        volumes:
            - 'boat-pgsql:/var/lib/postgresql/data'
        networks:
            - boat
        healthcheck:
            test: ["CMD", "pg_isready", "-q", "-d", "${DB_DATABASE}", "-U", "${DB_USERNAME}"]
            retries: 3
            timeout: 5s

    redis:
        image: 'redis:alpine'
        ports:
            - '${FORWARD_REDIS_PORT:-6379}:6379'
        volumes:
            - 'boat-redis:/data'
        networks:
            - boat
        healthcheck:
            test:
                - CMD
                - redis-cli
                - ping
            retries: 3
            timeout: 5s
    meilisearch:
        image: 'getmeili/meilisearch:latest'
        ports:
            - '${FORWARD_MEILISEARCH_PORT:-7700}:7700'
        environment:
            MEILI_NO_ANALYTICS: '${MEILISEARCH_NO_ANALYTICS:-false}'
        volumes:
            - 'boat-meilisearch:/meili_data'
        networks:
            - boat
        healthcheck:
            test:
                - CMD
                - wget
                - '--no-verbose'
                - '--spider'
                - 'http://localhost:7700/health'
            retries: 3
            timeout: 5s
    mailpit:
        image: 'axllent/mailpit:latest'
        ports:
            - '${FORWARD_MAILPIT_PORT:-1025}:1025'
            - '${FORWARD_MAILPIT_DASHBOARD_PORT:-8025}:8025'
        networks:
            - boat

networks:
    boat:
        driver: bridge
volumes:
    boat-pgsql:
        driver: local
    boat-redis:
        driver: local
    boat-meilisearch:
        driver: local